<h1>Editing credit</h1>

<% form_for(@credit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :agent_id %><br />
    <%= f.text_field :agent_id %>
  </p>
  <p>
    <%= f.label :current_credit %><br />
    <%= f.text_field :current_credit %>
  </p>
  <p>
    <%= f.label :added_credit %><br />
    <%= f.text_field :added_credit %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @credit %> |
<%= link_to 'Back', credits_path %>