<h1>New setting</h1>

<% form_for(@setting) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :agent_prefix_code %><br />
    <%= f.text_field :agent_prefix_code %>
  </p>
  <p>
    <%= f.label :agent_last_no %><br />
    <%= f.text_field :agent_last_no %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', settings_path %>