<% title "Change Agent Password" %>
<br />

  <%= link_to "Back", @agent %>
  <% if is_admin? %>
  | <%= link_to "View All", agents_path %>
  <% end %>
<br /><br />  
  

<% form_tag update_password_agent_path(@agent) do  %>
  <%= error_messages_for "agent" %>
  
  <p>
    Password <br />
    <%= password_field "agent", :password %>
  </p>
  <p>
    Confirm Password<br />
    <%= password_field "agent", :password_confirmation %>
  </p>
  <p><%= submit_tag "Update Password" %></p>
<% end %>

