<% title "Topup for Agent " + @agent.screen_name %>
<br />

<%= link_to "Back", @agent %>
<br />

<% form_for(@proposal, :url => {:action => :create_topup}) do |f| %>
 
  <%= f.error_messages %>
   
 <br /><br />
    <%= f.hidden_field :agent_id, :value => @agent.upline_id %>
    <%= f.hidden_field :investor_id, :value => @agent.id %>
    <%= f.hidden_field :fullname, :value => @agent.fullname %>
    <%= f.hidden_field :new_ic_number, :value => @agent.new_ic_number %>
    <%= f.hidden_field :date_of_birth, :value => @agent.birthday %>
    <%= f.hidden_field :resident_address, :value => @agent.resident_address %>
    <%= f.hidden_field :residence_postcode, :value => @agent.residence_postcode %>
    <%= f.hidden_field :residence_city, :value => @agent.residence_city %>
    <%= f.hidden_field :residence_state, :value => @agent.residence_state  %>
    <%= f.hidden_field :residence_phone_number, :value => @agent.residence_phone_number %>
    <%= f.hidden_field :mobile_number, :value => @agent.mobile_number %>
    <%= f.hidden_field :email, :value => @agent.email %>
    <%= f.hidden_field :account_bank, :value => @agent.account_bank %>
    <%= f.hidden_field :account_number, :value => @agent.account_number %>
 
   <p>
    <%= f.label :proposal_date %><br />
    <%= f.date_select :proposal_date %>
  </p>

 <p>
    <%= f.label :proposal_number %><br />
    <%= f.text_field :proposal_number, :maxlength => 20, :size => 45 %>
  </p>

 
  <br/>
  <hr />
  <br />
 
   
   <p>
    <%= f.label :mode_of_payment_id %><br />
    <%= f.select :mode_of_payment_id, ModeOfPayment.all(:order => "name").map {|c| [c.name, c.id]}, {:include_blank => true} %>
  </p>
  <p>
    <%= f.label :payment_method_id %><br />
    <%= f.select :payment_method_id, PaymentMethod.all(:order => "name").map {|d| [d.name, d.id]}, {:include_blank => true}, :onChange => remote_function(:url => {:action => 'show_payment_info'}, :with => "'id=' + this.value") %>
  </p>
  <br />

  <% payment = PaymentMethod.find(@proposal.payment_method_id) rescue nil %>
  <% if payment and payment.name.include?("Credit Card") %>
  <div id="payment_info">
    <fieldset>
      <legend>Credit Card Detail</legend>
        <p><%= f.label :credit_card_number %><br />
         <%= f.text_field :credit_card_number, :maxlength => 20 %></p>
        <p><%= f.label :credit_card_type %><br />
         <%= f.text_field :credit_card_type, :maxlength => 15, :size => 20 %></p>
        <p><%= f.label :owner_name %><br />
         <%= f.text_field :owner_name, :maxlength => 45 %></p>

    </fieldset>
  </div>
  <% else %>
  <div id="payment_info" style="display:none">
    <fieldset>
      <legend>Credit Card Detail</legend>
        <p><%= f.label :credit_card_number %><br />
         <%= f.text_field :credit_card_number, :maxlength => 20 %></p>
        <p><%= f.label :credit_card_type %><br />
         <%= f.text_field :credit_card_type, :maxlength => 15, :size => 20 %></p>
        <p><%= f.label :owner_name %><br />
         <%= f.text_field :owner_name, :maxlength => 45 %></p>

    </fieldset>
  </div>
  <% end %>
  <br />
  <p>
  <%= f.check_box :is_backdate %> &nbsp; is backdate?
  
    <%= f.label :backdate %>
    <%= f.date_select :backdate %>
  </p>
  <br />
  <table>
    <tr>
      <td>
        <p><%= f.label :plan_id %><br />
           <%= f.select :plan_id, Plan.all(:order => "name").map {|p| [p.name, p.id]} %></p>
      </td>
        <td>
         <p><%= f.label :sum_assured %><br />
           <%= f.text_field :sum_assured, :maxlength => 10 %></p>
      </td>
       <td>
          <p><%= f.label :modal_premium %><br />
             <%= f.text_field :modal_premium, :maxlength => 10 %></p>
      </td>
      <td></td><td></td>
  
    </tr>
    <tr>
       <td>
        <p><%= f.label :supplementary_benefit %><br />
           <%= f.text_field :supplementary_benefit, :maxlength => 45 %></p>
      </td>
      <td>
         <p><%= f.label :sb_sum_assured %><br />
           <%= f.text_field :sb_sum_assured, :maxlength => 10 %></p>
      </td>
      <td>
          <p><%= f.label :sb_policy_term %><br />
             <%= f.text_field :sb_policy_term, :maxlength => 10 %></p>
      </td>
      <td>
         <p> <%= f.label :sb_premium_term %><br />
             <%= f.text_field :sb_premium_term, :maxlength => 10 %>
         </p>
      </td>
      <td>
          <p><%= f.label :sb_modal_premium %><br />
             <%= f.text_field :sb_modal_premium, :maxlength => 10 %></p>
      </td>
    </tr>
  </table>
   
  
  <p><%= submit_tag "Submit" %> </p>
<% end %>
