<% title "Contact Detail" %>
<br />

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
<br />
<br />
<p>
  <b>Name:</b>
  <%=h @contact.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @contact.address %>
</p>

<p>
  <b>Telephone:</b>
  <%=h @contact.telephone %>
</p>

<p>
  <b>Fax:</b>
  <%=h @contact.fax %>
</p>

<p>
  <b>Comment:</b>
  <%=h @contact.comment %>
</p>

<p>
  <b>Read:</b>
  <%=h @contact.read %>
</p>

<br />

