<% form_for @commission do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :level_0 %><br />
    <%= f.text_field :level_0 %>
  </p>
  <p>
    <%= f.label :level_1 %><br />
    <%= f.text_field :level_1 %>
  </p>
  <p>
    <%= f.label :level_2 %><br />
    <%= f.text_field :level_2 %>
  </p>
  <p>
    <%= f.label :level_3 %><br />
    <%= f.text_field :level_3 %>
  </p>
  <p>
    <%= f.label :level_4 %><br />
    <%= f.text_field :level_4 %>
  </p>
  <p>
    <%= f.label :level_5 %><br />
    <%= f.text_field :level_5 %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
