<p>
  <b>Term:</b>
  <%=h @sub_commission.term %>
</p>

<p>
  <b>Policy year:</b>
  <%=h @sub_commission.policy_year %>
</p>

<p>
  <b>Percentage:</b>
  <%=h @sub_commission.percentage %>
</p>


<%= link_to 'Edit', edit_sub_commission_path(@sub_commission) %> |
<%= link_to 'Back', sub_commissions_path %>