<% title "Service Charger" %>
<br />
<%= link_to 'Edit', edit_services_charger_path(@services_charger) %> |
<%= link_to 'Back', services_chargers_path %>
<p>
  <b>Entry title:</b>
  <%=h @services_charger.entry_title %>
</p>

<p>
  <b>Entry description:</b>
  <%=h @services_charger.entry_description %>
</p>

<p>
  <b>Renewal title:</b>
  <%=h @services_charger.renewal_title %>
</p>

<p>
  <b>Renewal description:</b>
  <%=h @services_charger.renewal_description %>
</p>

<p>
  <b>Entry amount:</b>
  <%=h @services_charger.entry_amount %>
</p>

<p>
  <b>Renewal amount:</b>
  <%=h @services_charger.renewal_amount %>
</p>

<p>
  <b>Start from:</b>
  <%=h @services_charger.start_from %>
</p>

<p>
  <b>End date:</b>
  <%=h @services_charger.end_date %>
</p>


